<!DOCTYPE html>
<html>
  <head>
    <title>Letseat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap">    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

      <meta property="og:title" content="Letseat" />
      <meta property="og:image" content="<% image_url('letseat.gif') %>" />
      <meta property="og:description"
        content="A fullstack reservation booking website inspired by OpenTable. Users can log in book and manage restaurant reservations and leave reviews." />
      <meta property="og:url" content="http://let-s-eat.herokuapp.com/#/" />

    <%= favicon_link_tag asset_path('favicon.png') %>

    <script type="text/javascript">
      window.logo = '<%= image_url('letseat_logo.png') %>'
    </script>
  </head>

  <body>    
    <%= yield %>
    <%#= console%>
  </body>
</html>

